@model ShopVM
@{
    ViewData["Title"] = "Shop";
}



<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height"
         data-bg-image="assets/images/breadcrumb/bg/1-1-1919x388.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Shop</h2>
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li>Shop Default</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shop-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 order-2 order-lg-1 pt-5 pt-lg-0">
                    <div class="sidebar-area">
                        <div class="widgets-searchbox">
                            <form id="widgets-searchbox">
                                <input class="input-field"
                                       type="text"
                                       placeholder="Search" />
                                <button class="widgets-searchbox-btn" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </div>
                        <div class="widgets-area">
                            <div class="widgets-item pt-0">
                                <h2 class="widgets-title mb-4">Categories</h2>
                                @*=======Category========*@
                                <ul class="widgets-category">
                                    <li>
                                        <a class="allCategoriesName" href="#">
                                            <i class="fa fa-chevron-right"></i>
                                            All <span>(@*@Model.Products.Count()*@)</span>
                                        </a>
                                    </li>

                                    @foreach (var category in Model.Categories)
                                    {
                                        <li data-id="@category.Id">
                                            <a href="#" class="categoriesName">
                                                <i class="fa fa-chevron-right"></i>
                                                @category.Name<span>(@category.ProductCategories.Select(m=>m.Product).Count())</span>
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </div>
                            <div class="widgets-item">
                                <h2 class="widgets-title mb-4">Color</h2>

                                <ul class="widgets-category widgets-color">
                                    @*=======Color=========*@
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-chevron-right"></i>
                                            All <span>(@Model.Colors.Count())</span>
                                        </a>
                                    </li>

                                    @foreach (var color in Model.Colors)
                                    {
                                        <li><a href="#"> <i class="fa fa-chevron-right"></i> @color.Name <span>(@color.ProductColors.Select(m=>m.Product).Count())</span></a></li>
                                    }

                                </ul>
                            </div>
                            <div class="widgets-item widgets-filter">
                                <h2 class="widgets-title mb-4">Price Filter</h2>
                                <div class="price-filter">
                                    <input type="text"
                                           class="pronia-range-slider"
                                           name="pronia-range-slider"
                                           value=""
                                           data-type="double"
                                           data-min="16"
                                           data-from="16"
                                           data-to="300"
                                           data-max="350"
                                           data-grid="false" />
                                </div>
                            </div>
                            <div class="widgets-item">
                                <h2 class="widgets-title mb-4">Populer Tags</h2>
                                <ul class="widgets-tag">

                                    @foreach (var tag in Model.Tags)
                                    {
                                        <li> <a href="#">@tag.Name</a></li>
                                    }

                                </ul>
                            </div>
                        </div>
                        <div class="banner-item widgets-banner img-hover-effect">
                            <div class="banner-img">
                                <img src="~/assets/images/website-images/@Model.Banners.FirstOrDefault(m=> !m.IsLarge)?.Image"
                                     alt="Banner Image" />
                            </div>
                            <div class="banner-content text-position-center">
                                <span class="collection">@Model.Banners.FirstOrDefault(m=> !m.IsLarge).Title</span>
                                <h3 class="title">@Html.Raw(Model.Banners.FirstOrDefault(m=> !m.IsLarge).Name)</h3>
                                <div class="button-wrap">
                                    <a class="btn btn-custom-size sm-size btn-pronia-primary"
                                       href="#">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 order-1 order-lg-2">
                    <div class="product-topbar">
                        <ul>
                            <li class="page-count">
                                <span>12</span> Product Found of <span>30</span>
                            </li>
                            <li class="product-view-wrap">
                                <ul class="nav" role="tablist">
                                    <li class="grid-view" role="presentation">
                                        <a class="active"
                                           id="grid-view-tab"
                                           data-bs-toggle="tab"
                                           href="#grid-view"
                                           role="tab"
                                           aria-selected="true">
                                            <i class="fa fa-th"></i>
                                        </a>
                                    </li>
                                    <li class="list-view" role="presentation">
                                        <a id="list-view-tab"
                                           data-bs-toggle="tab"
                                           href="#list-view"
                                           role="tab"
                                           aria-selected="true">
                                            <i class="fa fa-th-list"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="short">
                                <select class="nice-select">
                                    <option value="1">Sort by Default</option>
                                    <option value="2">Sort by Popularity</option>
                                    <option value="3">Sort by Rated</option>
                                    <option value="4">Sort by Latest</option>
                                    <option value="5">Sort by High Price</option>
                                    <option value="6">Sort by Low Price</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content product-list">

                        <partial name="_ProductsPartial" model="@Model.PaginatedDatas" />


                    </div>

                 
                       @* <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">&raquo;</a>
                                </li>
                            </ul>
                        </nav>*@

                      

                   
                </div>
            </div>
        </div>
    </div>
</main>