@model BlogDetailVM

@{
    ViewData["Title"] = "BlogDetail";
}



<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height"
         data-bg-image="assets/images/breadcrumb/bg/1-1-1919x388.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Blog</h2>
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li>Blog Detail</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 order-2 pt-5 pt-lg-0">
                    <div class="sidebar-area">
                        <div class="widgets-searchbox">
                            <form id="widgets-searchbox">
                                <input class="input-field"
                                       type="text"
                                       placeholder="Search" />
                                <button class="widgets-searchbox-btn" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </div>
                        <div class="widgets-area">
                            <div class="widgets-item pt-0">
                                <h2 class="widgets-title mb-4">Categories</h2>
                                <ul class="widgets-category">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-chevron-right"></i>
                                            All <span>(@Model.ProductsCount)</span>
                                        </a>
                                    </li>


                                    @foreach (var category in Model.Categories)
                                    {
                                        <li data-id="@category.Id">
                                            <a href="#" class="categoriesName">
                                                <i class="fa fa-chevron-right"></i>
                                                @category.Name<span>(@category.ProductCategories.Select(m=>m.Product).Count())</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="widgets-item">
                                <h2 class="widgets-title mb-4">Recent Post</h2>
                                <div class="swiper-container widgets-list-slider">
                                    <div class="swiper-wrapper">

                                        @foreach (var blog in Model.BlogAll)
                                        {


                                            <div class="swiper-slide">
                                                <div class="widgets-list-item">
                                                    <div class="widgets-list-img">
                                                        <a asp-action="Detail" asp-route-id="@blog.Id">
                                                            <img class="img-full"
                                                             src="~/assets/images/website-images/@blog.Images.FirstOrDefault(m => m.IsMain)?.Image"
                                                             alt="Blog Images" />

                                                        </a>
                                                    </div>
                                                    <div class="widgets-list-content">
                                                        <div class="widgets-meta">
                                                            <ul>
                                                                <li class="date">@blog.Created.ToString("dd MMMM yyyy")</li>
                                                            </ul>
                                                        </div>
                                                        <h2 class="title mb-0">
                                                            <a href="#">@blog.Title</a>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>


                                        }

                                    </div>
                                </div>
                            </div>
                            <div class="widgets-item">
                                <h2 class="widgets-title mb-4">Populer Tags</h2>
                                <ul class="widgets-tag">


                                    @foreach (var tag in Model.Tags)
                                    {
                                        <li> <a href="#">@tag.Name</a></li>
                                    }

                                </ul>
                            </div>
                        </div>

                        <div class="banner-item widgets-banner img-hover-effect">
                            <div class="banner-img">
                                <img src="~/assets/images/website-images/@Model.Banners.FirstOrDefault(m=> !m.IsLarge)?.Image"
                                     alt="Banner Image" />
                            </div>
                            <div class="banner-content text-position-center">
                                <span class="collection">@Model.Banners.FirstOrDefault(m=> !m.IsLarge).Title</span>
                                <h3 class="title">@Html.Raw(Model.Banners.FirstOrDefault(m=> !m.IsLarge).Name)</h3>
                                <div class="button-wrap">
                                    <a class="btn btn-custom-size sm-size btn-pronia-primary"
                                       href="#">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 order-1">
                    <div class="blog-detail-item">
                        <div class="blog-content">
                            <div class="blog-meta">
                                <ul>
                                    <li class="author">
                                        <a href="#">By:@Model.AuthorName </a>
                                    </li>
                                    <li class="date">@Model.Created.ToString("dd MMMM yyyy")</li>
                                </ul>
                            </div>
                            <h2 class="title"> @Model.Title </h2>
                            <p class="short-desc">
                                @Model.Desciption
                            </p>
                        </div>
                        <div class="blog-img img-hover-effect">


                            <img class="img-full"
                                 src="~/assets/images/website-images/@Model.Images.FirstOrDefault(m => m.IsMain)?.Image"
                                 alt="Blog Image" />

                        </div>
                        <p class="short-desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore etl dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquiex ea commodo consequat. Duis
                            aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eukip fugiat nulla pariatur. Excepteur sint
                            occaecat.
                        </p>
                        <blockquote>
                            <p class="mb-0">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt
                            </p>
                        </blockquote>
                        <p class="short-desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore etl dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquiex ea commodo consequat. Duis
                            aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eukip fugiat nulla pariatur. Excepteur sint
                            occaecat cupidatat non proident, sunt in culpa qui officia
                            deseruntk mollit anim id est laborum. Sed ut perspiciatis
                            unde omnis iste natus error sit voluptatem accusantiumy
                            doloremque laudantium, totam rem aperiam,
                        </p>
                        <div class="blog-banner row">
                            <div class="single-img img-hover-effect col-sm-6">
                                <img class="img-full"
                                     src="~/assets/images/website-images/@Model.Images.FirstOrDefault(m => !m.IsMain)?.Image"
                                     alt="Blog Banner" />
                            </div>
                            <div class="single-img img-hover-effect col-sm-6 pt-5 pt-sm-0">
                                <img class="img-full"
                                     src="~/assets/images/website-images/@Model.Images.LastOrDefault(m => !m.IsMain)?.Image"
                                     alt="Blog Banner" />
                            </div>
                        </div>
                        <p class="short-desc mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore etl dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquiex ea commodo consequat. Duis
                            aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eukip fugiat nulla pariatur. Excepteur sint
                            occaecat
                        </p>
                    </div>
                    <div class="social-with-tags">
                        <div class="tags">
                            <span class="title">Tags: </span>
                            <ul>
                                <li>
                                    <a href="#">Plant,</a>
                                </li>
                                <li>
                                    <a href="#">Tree Plant</a>
                                </li>
                            </ul>
                        </div>
                        <div class="social-link">
                            <ul>
                                <li>
                                    <a href="#"
                                       data-tippy="Facebook"
                                       data-tippy-inertia="true"
                                       data-tippy-animation="shift-away"
                                       data-tippy-delay="50"
                                       data-tippy-arrow="true"
                                       data-tippy-theme="sharpborder">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                       data-tippy="Dribbble"
                                       data-tippy-inertia="true"
                                       data-tippy-animation="shift-away"
                                       data-tippy-delay="50"
                                       data-tippy-arrow="true"
                                       data-tippy-theme="sharpborder">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                       data-tippy="Pinterest"
                                       data-tippy-inertia="true"
                                       data-tippy-animation="shift-away"
                                       data-tippy-delay="50"
                                       data-tippy-arrow="true"
                                       data-tippy-theme="sharpborder">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                </li>
                                <li class="comment">
                                    <a href="#">
                                        <span>2</span>
                                        <i class="fa fa-comments"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-comment">
                        <h4 class="heading">Comments (03)</h4>
                        <div class="blog-comment-item">
                            <div class="blog-comment-img">
                                <img src="~/assets/images/website-images/1-1-120x120.webp"
                                     alt="User Image" />
                            </div>
                            <div class="blog-comment-content">
                                <div class="user-meta">
                                    <h2 class="user-name">Donald Chavez</h2>
                                    <span class="date">21 July 2021</span>
                                </div>
                                <p class="user-comment">
                                    Lorem ipsum dolor sit amet, consectetur adipisi elit,
                                    sed do eiusmod tempor incidid ut labore etl dolore magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitati
                                    ullamco laboris nisi ut aliquiex ea commodo consequat.
                                </p>
                                <a class="btn btn-custom-size comment-btn" href="#">Reply</a>
                            </div>
                        </div>
                        <div class="blog-comment-item relpy-item">
                            <div class="blog-comment-img">
                                <img src="~/assets/images/website-images/1-2-120x120.png"
                                     alt="User Image" />
                            </div>
                            <div class="blog-comment-content">
                                <div class="user-meta">
                                    <h2 class="user-name">Marissa Swan</h2>
                                    <span class="date">21 July 2021</span>
                                </div>
                                <p class="user-comment">
                                    Lorem ipsum dolor sit amet, consectetur adipisi elit,
                                    sed do eiusmod tempr incidid ut labore etl dolore magna
                                    aliqua. Ut enim ad minim veniam, quisnos exercitati
                                    ullamco laboris nisi ut aliquiex.
                                </p>
                                <a class="btn btn-custom-size comment-btn style-2"
                                   href="#">Reply</a>
                            </div>
                        </div>
                        <div class="blog-comment-item">
                            <div class="blog-comment-img">
                                <img src="~/assets/images/website-images/1-3-120x120.png"
                                     alt="User Image" />
                            </div>
                            <div class="blog-comment-content">
                                <div class="user-meta">
                                    <h2 class="user-name">Donald Chavez</h2>
                                    <span class="date">21 July 2021</span>
                                </div>
                                <p class="user-comment">
                                    Lorem ipsum dolor sit amet, consectetur adipisi elit,
                                    sed do eiusmod tempor incidid ut labore etl dolore magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitati
                                    ullamco laboris nisi ut aliquiex ea commodo consequat.
                                </p>
                                <a class="btn btn-custom-size comment-btn" href="#">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="feedback-area">
                        <h2 class="heading">Leave a comment</h2>
                        <form class="feedback-form" action="#">
                            <div class="group-input">
                                <div class="form-field me-md-30 mb-30 mb-md-0">
                                    <input type="text"
                                           name="name"
                                           placeholder="Your Name*"
                                           class="input-field" />
                                </div>
                                <div class="form-field">
                                    <input type="text"
                                           name="email"
                                           placeholder="Your Email*"
                                           class="input-field" />
                                </div>
                            </div>
                            <div class="form-field mt-30">
                                <input type="text"
                                       name="subject"
                                       placeholder="Subject (Optinal)"
                                       class="input-field" />
                            </div>
                            <div class="form-field mt-30">
                                <textarea name="message"
                                          placeholder="Message"
                                          class="textarea-field"></textarea>
                            </div>
                            <div class="button-wrap pt-5">
                                <button type="submit"
                                        value="submit"
                                        class="btn btn-custom-size xl-size btn-pronia-primary"
                                        name="submit">
                                    Post Comment
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->
