@model BlogVM


@{
    ViewData["Title"] = "Blog";
}


    <!-- Begin Main Content Area -->
      <main class="main-content">
        <div
          class="breadcrumb-area breadcrumb-height"
          data-bg-image="assets/images/breadcrumb/bg/1-1-1919x388.jpg"
        >
          <div class="container h-100">
            <div class="row h-100">
              <div class="col-lg-12">
                <div class="breadcrumb-item">
                  <h2 class="breadcrumb-heading">Blog</h2>
                  <ul>
                    <li>
                                <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>Blog Grid View</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-area section-space-y-axis-100">
          <div class="container">
            <div class="row">
              <div class="col-xl-3 col-lg-4 order-2 pt-5 pt-lg-0">
                <div class="sidebar-area">
                  <div class="widgets-searchbox">
                    <form id="widgets-searchbox">
                      <input
                        class="input-field"
                        type="text"
                        placeholder="Search"
                      />
                      <button class="widgets-searchbox-btn" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </form>
                  </div>
                  <div class="widgets-area">
                    <div class="widgets-item pt-0">
                      <h2 class="widgets-title mb-4">Categories</h2>
                      <ul class="widgets-category">
                        <li>
                          <a href="#">
                            <i class="fa fa-chevron-right"></i>
                                            All <span>()</span>
                          </a>
                        </li>


                                    @foreach (var category in Model.Categories)
                                    {
                                        <li data-id="@category.Id">
                                            <a href="#" class="categoriesName">
                                                <i class="fa fa-chevron-right"></i>
                                                @category.Name<span>(@category.ProductCategories.Select(m=>m.Product).Count())</span>
                                            </a>
                                        </li>
                                    }
                       
                      
                      </ul>
                    </div>
                    <div class="widgets-item">
                      <h2 class="widgets-title mb-4">Recent Post</h2>
                      <div class="swiper-container widgets-list-slider">

                        <div class="swiper-wrapper">
                            @foreach (var blog in Model.Blogs)
                            {
                                            
                                        
                          <div class="swiper-slide">
                            <div class="widgets-list-item">
                              <div class="widgets-list-img">
                               <a asp-action="Detail" asp-route-id="@blog.Id">
                                  <img
                                    class="img-full"
                                       src="~/assets/images/website-images/@blog.Images.FirstOrDefault(m => m.IsMain)?.Image"
                                       alt="Blog Images"
                                  />
                                </a>
                              </div>
                              <div class="widgets-list-content">
                                <div class="widgets-meta">
                                  <ul>
                                <li class="date">@blog.Created.ToString("dd MMMM yyyy")</li>
                                   </ul>
                                </div>
                                <h2 class="title mb-0">
                                  <a href="#">@blog.Title</a>
                                </h2>
                              </div>
                            </div>
                          </div>
                        

                          }
                        </div>
                      </div>
                    </div>
                    <div class="widgets-item">
                      <h2 class="widgets-title mb-4">Populer Tags</h2>
                      <ul class="widgets-tag">
                        
                            @foreach (var tag in Model.Tags)
                                    {
                                        <li> <a href="#">@tag.Name</a></li>
                                    }

                      </ul>
                    </div>
                  </div>
                   <div class="banner-item widgets-banner img-hover-effect">
                            <div class="banner-img">
                                <img src="~/assets/images/website-images/@Model.Banners.FirstOrDefault(m=> !m.IsLarge)?.Image"
                                     alt="Banner Image" />
                            </div>
                            <div class="banner-content text-position-center">
                                <span class="collection">@Model.Banners.FirstOrDefault(m=> !m.IsLarge).Title</span>
                                <h3 class="title">@Html.Raw(Model.Banners.FirstOrDefault(m=> !m.IsLarge).Name)</h3>
                                <div class="button-wrap">
                                    <a class="btn btn-custom-size sm-size btn-pronia-primary"
                                       href="#">Shop Now</a>
                                </div>
                            </div>
                        </div>
                </div>
              </div>
              <div class="col-xl-9 col-lg-8 order-1">
                <div class="blog-item-wrap row g-y-30">

                   @foreach (var blog in Model.Blogs)
                   {
                            
                        
                  <div class="col-md-6">
                    <div class="blog-item">
                      <div class="blog-content">
                        <div class="blog-meta">
                          <ul>
                            <li class="author">
                          <a href="#">By: @blog.Author.Name</a>
                           <li class="date">@blog.Created.ToString("dd MMMM yyyy")</li>
                                            </ul>
                        </div>
                        <h2 class="title">
                          <a href="blog-detail.html">@blog.Title</a>
                        </h2>
                        <p class="short-desc mb-7">
                          @blog.Desciption
                        </p>
                      </div>
                      <div class="blog-img img-hover-effect">
                                        <a asp-action="Detail" asp-route-id="@blog.Id">
                          <img
                            class="img-full"
                             src="~/assets/images/website-images/@blog.Images.FirstOrDefault(m => m.IsMain)?.Image"
                              alt="Blog Image"
                          />
                        </a>
                        <div class="inner-btn-wrap">
                                            <a class="inner-btn" asp-action="Detail" asp-route-id="@blog.Id">
                            <i class="pe-7s-link"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                 

                  }


                </div>
                <div class="pagination-area">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                      <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">2</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">3</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next"
                          >&raquo;</a
                        >
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- Main Content Area End Here -->

